/* You can add global styles to this file, and also import other style files */
$white: #fff;
$black: #000;

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(assets/images/background-2.jpg);
}

#master-container {
    width: 1920px;
    height: 1080px;
    position: relative;
}

#sidebar {
    position: absolute;
    float: left;
    height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 350px;
    color: $white;
    border: 2px solid $white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.45);
background: #daddef; /* Old browsers */
background: -moz-linear-gradient(-65deg,  #daddef 0%, #3e50ab 48%, #ffffff 49%, #ffffff 49%, #172889 51%, #0b1461 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-65deg,  #daddef 0%,#3e50ab 48%,#ffffff 49%,#ffffff 49%,#172889 51%,#0b1461 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(165deg,  #daddef 0%,#3e50ab 48%,#ffffff 49%,#ffffff 49%,#172889 51%,#0b1461 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daddef', endColorstr='#0b1461',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#sidebar-top {
    font-size: 46px;
    margin-bottom: 260px;
    padding: 20px;
}
#sidebar-bottom {
    font-size: 44px;
    margin-top: 20px;
    padding: 20px;
}

#mural-content {
    position: relative;
    float: none;
    height: 100%;
    width: 1200px;
    text-align: center;
    margin: 0px auto;
}

#mural-background {
    /*max-height: 1080px;*/
    margin: 20px auto;
    max-height: 1000px;
    border: 2px solid $white;
    border-radius: 60px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.45);
}

#footer {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 350px;
    text-align: center;
    color: $white;
    border: 2px solid $white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.45);
background: #103515; /* Old browsers */
background: -moz-linear-gradient(15deg, #103515 0%, #1b5723 48%, #257b31 49%, #ffffff 49%, #ffffff 49%, #459050 51%, #dbeadd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(15deg, #103515 0%,#1b5723 48%,#257b31 49%,#ffffff 49%,#ffffff 49%,#459050 51%,#dbeadd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(15deg, #103515 0%,#1b5723 48%,#257b31 49%,#ffffff 49%,#ffffff 49%,#459050 51%,#dbeadd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103515', endColorstr='#dbeadd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#footer-bottom {
    margin-top: 560px;
    text-align: left;
    font-size: 44px;
}

/* INFOBOX */
#infobox {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding-top: 75px;
    color: $white;
    text-align: center;
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#info-row {
    margin-bottom: 40px;
}
.info-title {
    font-size: 45px;
    margin-bottom: 50px;
}
.info-content {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.4;
}
.info-content a {
    color: red;
    text-shadow: 1px 1px 1px #000;
}
/*.info-image img {
    max-width: 640px;
}*/
.info-back-btn {
    color: $white;
    font-size: 28px;
    padding: 10px 60px;
    margin: 40px;
    background-color: $black;
    border: 2px solid $white;
    text-decoration: none;
}
#screensaver {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: $black;
    text-align: center;
}

#screensaver h1 {
    color: #c43634;
    font-size: 85px;
}